In [755]:
import numpy as np
import pandas as pd

In [756]:
dataset = pd.read_csv('data/mammography.csv.zip')
dataset.drop_duplicates(inplace=True)

In [757]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322     -1
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723     -1
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723     -1
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723     -1
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566     -1

In [758]:
dataset.tail()

             X1        X2        X3        X4        X5        X6  class
11178 -0.250012 -0.377300 -0.321142  1.269157  3.652984  1.092791      1
11179  0.281343 -0.417112 -0.366224  0.851010  2.789649  1.345700      1
11180  1.204988  1.763724 -0.501468  1.562408  6.489072  0.931294      1
11181  0.736644 -0.222474 -0.050653  1.509665  0.539269  1.315229      1
11182  0.177003 -0.191508 -0.501468  1.578864  7.750705  1.555951      1

In [759]:
target = 'class'
# No dataset de mamografia as classes estão definidas como -1 e 1
# É preciso que os valores sejam 0 e 1
if dataset.loc[dataset[target] == -1][target].count() != 0:
    # Todos os valores da coluna 'class' que são -1 são trocados para 0
    dataset[target] = dataset[target].map({-1 : 0, 1 : 1})

In [760]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [761]:
classA = dataset.loc[dataset[target] == 0] # Cria dataset só com os exemplos da classe 0
classB = dataset.loc[dataset[target] == 1] # Cria dataset só com os exemplos da classe 1

In [762]:
classA.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [763]:
classB.head()

            X1        X2        X3        X4         X5        X6  class
1093 -0.335889 -0.452501 -0.591631  0.817254  -0.377866  1.034896      1
1094  4.592985  1.918550 -0.456387  2.264523   1.918840  0.702761      1
1095  0.660252 -0.377300 -0.411305  1.708401   3.520855  1.400548      1
1096 -0.321830 -0.452501 -0.276061  1.325275  13.750423  1.013566      1
1097 -0.520347 -0.452501 -0.276061  3.001660  13.750423  0.702761      1

In [764]:
lenA = classA[target].count()
halfA = int(round(lenA*0.5))

# Divide o dataset da classe A em três datasets com 50%-25%-25%
classA_1 = classA[:halfA]
classA_2 = classA[halfA:halfA+int(round(halfA/2))]
classA_3 = classA[halfA+int(round(halfA/2)):]

In [765]:
classA_1[target].count()

3798

In [766]:
classA_2[target].count()

1899

In [767]:
classA_3[target].count()

1898

In [768]:
lenB = classB[target].count()
halfB = int(round(lenB*0.5))

# Divide o dataset da classe B em três datasets com 50%-25%-25%
classB_1 = classB[:halfB]
classB_2 = classB[halfB:halfB+int(round(halfB/2))]
classB_3 = classB[halfB+int(round(halfB/2)):]

# Repete os dados dos dois primeiros conjuntos para que tenham
# a mesma quantidade de dados que os conjuntos da classe A
lenA_1 = classA_1[target].count() 
n = int(np.ceil(lenA_1 / float(classB_1[target].count())))
classB_1 = pd.concat([classB_1] * n)[:lenA_1]

lenA_2 = classA_2[target].count()
n = int(np.ceil(lenA_2 / float(classB_2[target].count())))
classB_2 = pd.concat([classB_2] * n)[:lenA_2]

In [769]:
classB_1[target].count()

3798

In [770]:
classB_2[target].count()

1899

In [771]:
classB_3[target].count()

64

In [772]:
# Cria os datasets de treino, validação e teste concatenando os conjuntos
# das classes A e B e aleatorizando a ordem dos exemplos

train = pd.concat([classA_1, classB_1]).sample(frac=1)
train.head()

            X1        X2        X3        X4        X5        X6  class
1351  2.408284 -0.448077 -0.501468 -0.859553 -0.377866 -0.945723      0
5590  1.891666 -0.231321 -0.366224 -0.859553 -0.377866 -0.945723      1
2760 -0.252891 -0.381723  2.293588  2.264945  0.427093  1.269523      0
3539  0.445813 -0.142849  0.039510  1.560720 -0.377866  1.275617      0
1376 -0.269660 -0.452501  0.310000 -0.859553 -0.377866 -0.945723      0

In [773]:
validation = pd.concat([classA_2, classB_2]).sample(frac=1)
validation.head()

            X1        X2        X3        X4        X5        X6  class
6710  3.780117  0.781684 -0.546550  4.343443 -0.377866  0.934341      1
7409  0.752227  0.786108  0.129673  1.054387  0.683285  1.239052      0
7812  1.233444  0.418949 -0.501468  1.456500  3.448584  0.955671      1
8930  1.380807  0.494150  0.039510  4.942182  1.620504  1.537668      1
7826  0.419729 -0.072071 -0.005571  1.157763  0.757531  1.272570      1

In [774]:
test = pd.concat([classA_3, classB_3]).sample(frac=1)
test.head()

             X1        X2        X3        X4        X5        X6  class
9499   0.459364  0.255275 -0.501468 -0.859553 -0.377866 -0.945723      0
10330 -0.066909 -0.279980  0.039510  0.401639 -0.377866  1.172015      0
10367 -0.180734 -0.315369  1.031305  0.394466 -0.022470  1.278664      0
8578   0.716657  0.706483  0.535408  0.875060 -0.377866  1.330465      0
10982  0.735289  5.015071 -0.276061  1.800806  1.244859  0.733232      0

In [775]:
#train.to_csv("data/oversampling/mammography_train.csv", index=False)

In [776]:
#validation.to_csv("data/oversampling/mammography_validation.csv", index=False)

In [777]:
#test.to_csv("data/oversampling/mammography_test.csv", index=False)