In [4]:
import numpy as np
import pandas as pd

In [5]:
dataset = pd.read_csv('data/mammography.csv.zip')
dataset.drop_duplicates(inplace=True)
dataset.sample(frac=1)

             X1        X2        X3        X4        X5        X6  class
8930   1.380807  0.494150  0.039510  4.942182  1.620504  1.537668      1
8523   0.021679  0.069484  1.256712  1.534559 -0.377866  1.245146     -1
9008   0.807954  0.374713 -0.050653  1.678864 -0.377866  1.168968     -1
10278  0.549476  1.454072 -0.411305  0.589826  1.962433  0.440710     -1
2733   0.772723  1.051524 -0.230979  0.722317  1.259939  0.928247     -1
3672   0.405162  0.507421  0.580489  0.989829 -0.377866  1.193345     -1
7328   0.248821 -0.310946  0.039510  0.669574 -0.377866  1.092791     -1
462    0.508824  0.759566 -0.095734  0.652274  1.468981  1.071461     -1
9898   0.359598 -0.169390 -0.095734  1.901651 -0.377866  1.272570     -1
7512   1.545617 -0.452501 -0.546550 -0.859553 -0.377866 -0.945723     -1
8144  -0.167014 -0.129578  0.580489 -0.859553 -0.377866 -0.945723     -1
4520   0.018968 -0.333064  0.355081  0.691515 -0.377866  1.165921     -1
7340  -0.299980 -0.408265  0.670652  1.244684 -0.377866  1.132403     -1
1387  -0.397205 -0.231321  1.797691  1.021053  0.493437  1.251240     -1
5045   0.069106 -0.443654 -0.366224  1.493631 -0.377866  0.992236     -1
401   -0.177685 -0.080918  0.715734 -0.859553 -0.377866 -0.945723     -1
7230   0.011007 -0.333064 -0.095734  1.190675  0.854529  1.040990     -1
10553  0.274229 -0.173814 -0.366224  0.876748 -0.377866  0.760656     -1
5950   0.267284 -0.226897 -0.095734  1.406288 -0.377866  1.196392     -1
1600  -0.023885 -0.284404 -0.321142 -0.859553 -0.377866 -0.945723     -1
6466   0.066057 -0.310946  0.129673  0.643835 -0.377866  0.620489     -1
3340   0.398725 -0.187085 -0.366224  1.077172  1.423643  1.391407      1
4499   0.350282  0.157956  0.355081  1.707557  0.030408  0.916058     -1
9689  -0.139574 -0.324216  0.310000  0.254380  0.475657  1.446255     -1
2840   0.809479  2.329945  0.039510 -0.859553 -0.377866 -0.945723     -1
7150   0.178697 -0.412689 -0.411305 -0.859553 -0.377866 -0.945723     -1
1353   0.579626  1.188656  0.084592  1.096159  0.541771  0.897776     -1
9643   0.605372  1.117878 -0.185897 -0.859553 -0.377866 -0.945723     -1
602   -0.152786 -0.372876 -0.230979  0.267883 -0.377866  0.961765     -1
10    -0.081137 -0.324216  1.031305  1.171687 -0.377866  1.397501     -1
...         ...       ...       ...       ...       ...       ...    ...
7341   0.254411 -0.018988  0.264918  1.151434 -0.377866  1.059272     -1
6835   0.426504 -0.036682 -0.095734  0.471260  0.424524  0.909964     -1
1735  -0.028628 -0.169390  0.580489  0.151426 -0.377866  1.144591     -1
5752   0.029301 -0.452501 -0.276061 -0.859553 -0.377866 -0.945723     -1
2329  -0.208005 -0.443654 -0.095734  0.297419 -0.377866  0.888634     -1
7115  -0.410079 -0.452501  0.129673 -0.859553 -0.377866 -0.945723     -1
7147   0.052676 -0.377300 -0.276061  0.418939  2.629171  0.876446     -1
8011   0.468172  0.507421  0.039510  0.377166 -0.377866  0.687526     -1
1178   0.825062  0.958628 -0.230979  2.418533 -0.377866  1.004425     -1
3120  -0.359433 -0.452501 -0.095734 -0.859553 -0.377866 -0.945723     -1
4366  -0.048446 -0.151696  0.129673  0.668730  1.305771  1.050131     -1
7053  -0.282194 -0.452501 -0.140816  1.338777 -0.377866  0.967859     -1
6823   0.171413 -0.368452 -0.185897  0.731177 -0.377866  0.992236     -1
6700   0.179205 -0.425959 -0.411305  0.753962  2.470109  1.254287      1
8658  -0.043534 -0.355182  0.310000 -0.859553 -0.377866 -0.945723     -1
9101   0.047764 -0.027835  2.068180  0.778857 -0.377866  1.077555     -1
7565   1.657071  3.546436 -0.411305 -0.859553 -0.377866 -0.945723     -1
3500  -0.225282 -0.443654 -0.005571  0.007965 -0.377866  0.781986     -1
10507 -0.114336 -0.412689  0.039510  0.711346  0.503084  1.205533     -1
10725  0.426334  0.020825 -0.411305  0.750165 -0.377866  1.004425     -1
1824   0.043529 -0.452501 -0.321142 -0.859553 -0.377866 -0.945723     -1
3069  -0.484099 -0.403841  2.428833 -0.859553 -0.377866 -0.945723     -1
1701   1.232258  1.732759 -0.366224  0.992783 -0.377866  0.410239     -1
3461  -0.106883 -0.408265  0.219837 -0.859553 -0.377866 -0.945723     -1
9051  -0.008810 -0.403841 -0.411305 -0.859553 -0.377866 -0.945723     -1
2214   0.374673 -0.275557 -0.095734  1.933297  1.548529  1.400548      1
1325   0.161081 -0.266710  0.129673  0.711346  0.503084  1.315229     -1
3041  -0.366547 -0.417112  0.355081  0.900799 -0.377866  0.580877     -1
2567   1.156036  5.032766  0.129673  1.218523 -0.377866  0.303590     -1
4755   0.752566  0.122567  0.039510  0.755228  0.433941  0.882540     -1

[7849 rows x 7 columns]

In [6]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322     -1
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723     -1
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723     -1
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723     -1
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566     -1

In [7]:
dataset.tail()

             X1        X2        X3        X4        X5        X6  class
11178 -0.250012 -0.377300 -0.321142  1.269157  3.652984  1.092791      1
11179  0.281343 -0.417112 -0.366224  0.851010  2.789649  1.345700      1
11180  1.204988  1.763724 -0.501468  1.562408  6.489072  0.931294      1
11181  0.736644 -0.222474 -0.050653  1.509665  0.539269  1.315229      1
11182  0.177003 -0.191508 -0.501468  1.578864  7.750705  1.555951      1

In [8]:
target = 'class'
# No dataset de mamografia as classes estão definidas como -1 e 1
# É preciso que os valores sejam 0 e 1
if dataset.loc[dataset[target] == -1][target].count() != 0:
    # Todos os valores da coluna 'class' que são -1 são trocados para 0
    dataset[target] = dataset[target].map({-1 : 0, 1 : 1})

In [9]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [10]:
classA = dataset.loc[dataset[target] == 0] # Cria dataset só com os exemplos da classe 0
classB = dataset.loc[dataset[target] == 1] # Cria dataset só com os exemplos da classe 1

In [11]:
classA.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [12]:
classB.head()

            X1        X2        X3        X4         X5        X6  class
1093 -0.335889 -0.452501 -0.591631  0.817254  -0.377866  1.034896      1
1094  4.592985  1.918550 -0.456387  2.264523   1.918840  0.702761      1
1095  0.660252 -0.377300 -0.411305  1.708401   3.520855  1.400548      1
1096 -0.321830 -0.452501 -0.276061  1.325275  13.750423  1.013566      1
1097 -0.520347 -0.452501 -0.276061  3.001660  13.750423  0.702761      1

In [13]:
lenA = classA[target].count()
halfA = int(round(lenA*0.5))

# Divide o dataset da classe A em três datasets com 50%-25%-25%
classA_1 = classA[:halfA]
classA_2 = classA[halfA:halfA+int(round(halfA/2))]
classA_3 = classA[halfA+int(round(halfA/2)):]

In [14]:
classA_1[target].count()

3798

In [15]:
classA_2[target].count()

1899

In [16]:
classA_3[target].count()

1898

In [17]:
lenB = classB[target].count()
halfB = int(round(lenB*0.5))

# Divide o dataset da classe B em três datasets com 50%-25%-25%
classB_1 = classB[:halfB]
classB_2 = classB[halfB:halfB+int(round(halfB/2))]
classB_3 = classB[halfB+int(round(halfB/2)):]

# Repete os dados dos dois primeiros conjuntos para que tenham
# a mesma quantidade de dados que os conjuntos da classe A
#lenA_1 = classA_1[target].count() 
#n = int(np.ceil(lenA_1 / float(classB_1[target].count())))
#classB_1 = pd.concat([classB_1] * n)[:lenA_1]

#lenA_2 = classA_2[target].count()
#n = int(np.ceil(lenA_2 / float(classB_2[target].count())))
#classB_2 = pd.concat([classB_2] * n)[:lenA_2]

In [18]:
classB_1[target].count()

127

In [19]:
classB_2[target].count()

63

In [20]:
classB_3[target].count()

64

In [21]:
# Cria os datasets de treino, validação e teste concatenando os conjuntos
# das classes A e B e aleatorizando a ordem dos exemplos

train = pd.concat([classA_1, classB_1]).sample(frac=1)
train.head()

            X1        X2        X3        X4        X5        X6  class
151   0.127712 -0.319793  0.039510 -0.859553 -0.377866 -0.945723      0
66   -0.002035 -0.293251  0.264918  1.197848  0.490309  1.303041      0
705   0.177003 -0.333064  0.264918 -0.859553 -0.377866 -0.945723      0
2660 -0.339276 -0.381723 -0.140816  0.900377  3.292781  0.660102      0
3234 -0.414482 -0.425959  0.896060 -0.185286  0.362888  0.885587      0

In [22]:
validation = pd.concat([classA_2, classB_2]).sample(frac=1)
validation.head()

            X1        X2        X3        X4        X5        X6  class
8068  1.306618  2.927131 -0.366224  1.928655 -0.377866  0.900823      0
6197 -0.304384 -0.213626  5.088645 -0.174737 -0.377866  1.071461      0
6684  0.683458  1.104607  0.805897 -0.859553 -0.377866 -0.945723      0
7994  0.791355  0.662247  0.219837  1.843423  0.544109  1.370077      0
7031  0.294216  0.219887 -0.230979 -0.859553 -0.377866 -0.945723      0

In [23]:
test = pd.concat([classA_3, classB_3]).sample(frac=1)
test.head()

             X1        X2        X3        X4        X5        X6  class
9616  -0.296423 -0.452501 -0.005571  0.561978  1.223326  0.833787      0
10982  0.735289  5.015071 -0.276061  1.800806  1.244859  0.733232      0
10354  0.833192  0.595893 -0.185897  1.637092 -0.377866  1.120215      0
9795  -0.380267 -0.443654  0.670652  1.038775  0.689376  0.748468      0
10505  1.029338  4.727537 -0.456387  1.191097 -0.377866  1.004425      0

In [24]:
#train.to_csv("data/oversampling/mammography_train.csv", index=False)

In [25]:
#validation.to_csv("data/oversampling/mammography_validation.csv", index=False)

In [26]:
#test.to_csv("data/oversampling/mammography_test.csv", index=False)