In [589]:
import numpy as np
import pandas as pd

In [590]:
dataset = pd.read_csv('data/mammography.csv.zip')
dataset.drop_duplicates(inplace=True)

In [591]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322     -1
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723     -1
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723     -1
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723     -1
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566     -1

In [592]:
dataset.tail()

             X1        X2        X3        X4        X5        X6  class
11178 -0.250012 -0.377300 -0.321142  1.269157  3.652984  1.092791      1
11179  0.281343 -0.417112 -0.366224  0.851010  2.789649  1.345700      1
11180  1.204988  1.763724 -0.501468  1.562408  6.489072  0.931294      1
11181  0.736644 -0.222474 -0.050653  1.509665  0.539269  1.315229      1
11182  0.177003 -0.191508 -0.501468  1.578864  7.750705  1.555951      1

In [593]:
target = 'class'
if dataset.loc[dataset[target] == -1][target].count() != 0:
    dataset[target] = dataset[target].map({-1 : 0, 1 : 1})

In [594]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [595]:
classA = dataset.loc[dataset[target] == 0]
classB = dataset.loc[dataset[target] == 1]

In [596]:
classA.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [597]:
classB.head()

            X1        X2        X3        X4         X5        X6  class
1093 -0.335889 -0.452501 -0.591631  0.817254  -0.377866  1.034896      1
1094  4.592985  1.918550 -0.456387  2.264523   1.918840  0.702761      1
1095  0.660252 -0.377300 -0.411305  1.708401   3.520855  1.400548      1
1096 -0.321830 -0.452501 -0.276061  1.325275  13.750423  1.013566      1
1097 -0.520347 -0.452501 -0.276061  3.001660  13.750423  0.702761      1

In [598]:
lenA = classA[target].count()
halfA = int(round(lenA*0.5))

classA_1 = classA[:halfA]
classA_2 = classA[halfA:halfA+int(round(halfA/2))]
classA_3 = classA[halfA+int(round(halfA/2)):]

In [599]:
classA_1[target].count()

3798

In [600]:
classA_2[target].count()

1899

In [601]:
classA_3[target].count()

1898

In [602]:
lenB = classB[target].count()
n = int(np.ceil(lenA / float(lenB)))

classB_os = pd.concat([classB] * n)[:lenA]
classB_os[target].count()

7595

In [603]:
classB_1 = classB_os[:halfA]
classB_2 = classB_os[halfA:halfA+int(round(halfA/2))]
classB_3 = classB_os[halfA+int(round(halfA/2)):]

In [604]:
classB_1[target].count()

3798

In [605]:
classB_2[target].count()

1899

In [606]:
classB_3[target].count()

1898

In [607]:
train = pd.concat([classA_1, classB_1]).sample(frac=1)
train.head()

            X1        X2        X3        X4        X5        X6  class
3416  0.364171  0.556080  1.662446 -0.859553 -0.377866 -0.945723      0
8929  3.347343  0.073908 -0.321142  3.797447 -0.377866  0.961765      1
4467  0.494935 -0.372876 -0.456387  1.776755  4.206722  1.406643      1
5113  5.561009 -0.452501 -0.456387 -0.859553 -0.377866 -0.945723      0
2230  0.476133  0.224310 -0.366224  1.342997 -0.377866  1.531574      1

In [608]:
validation = pd.concat([classA_2, classB_2]).sample(frac=1)
validation.head()

             X1        X2        X3        X4        X5        X6  class
6887   0.001183 -0.421536 -0.230979  1.309663 -0.377866  0.958718      0
11172  0.543378  0.188921 -0.501468  1.578864  7.750705  1.458443      1
10055 -0.190219 -0.408265 -0.050653  0.911348  5.125174  1.104979      1
7142   0.441579  0.193345  0.490326  0.907128 -0.005085  1.092791      0
6699  -0.055391 -0.200356 -0.456387  1.540467  8.383332  1.440161      1

In [609]:
test = pd.concat([classA_3, classB_3]).sample(frac=1)
test.head()

             X1        X2        X3        X4        X5        X6  class
11042 -0.228839 -0.403841 -0.276061 -0.859553 -0.377866 -0.945723      0
11164  0.202580 -0.412689 -0.321142  1.223586  2.964186  1.281711      1
1100   3.747256 -0.443654 -0.546550 -0.859553 -0.377866 -0.945723      1
8938  -0.150245 -0.399418 -0.050653  1.372533  1.583726  1.595563      1
10058  0.279479 -0.394994 -0.276061  1.352280  1.686453  1.333512      1