In [653]:
import numpy as np
import pandas as pd

In [654]:
dataset = pd.read_csv('data/mammography.csv.zip')
dataset.drop_duplicates(inplace=True)

In [655]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322     -1
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723     -1
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723     -1
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723     -1
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566     -1

In [656]:
dataset.tail()

             X1        X2        X3        X4        X5        X6  class
11178 -0.250012 -0.377300 -0.321142  1.269157  3.652984  1.092791      1
11179  0.281343 -0.417112 -0.366224  0.851010  2.789649  1.345700      1
11180  1.204988  1.763724 -0.501468  1.562408  6.489072  0.931294      1
11181  0.736644 -0.222474 -0.050653  1.509665  0.539269  1.315229      1
11182  0.177003 -0.191508 -0.501468  1.578864  7.750705  1.555951      1

In [657]:
target = 'class'
if dataset.loc[dataset[target] == -1][target].count() != 0:
    dataset[target] = dataset[target].map({-1 : 0, 1 : 1})

In [658]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [659]:
classA = dataset.loc[dataset[target] == 0]
classB = dataset.loc[dataset[target] == 1]

In [660]:
classA.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [661]:
classB.head()

            X1        X2        X3        X4         X5        X6  class
1093 -0.335889 -0.452501 -0.591631  0.817254  -0.377866  1.034896      1
1094  4.592985  1.918550 -0.456387  2.264523   1.918840  0.702761      1
1095  0.660252 -0.377300 -0.411305  1.708401   3.520855  1.400548      1
1096 -0.321830 -0.452501 -0.276061  1.325275  13.750423  1.013566      1
1097 -0.520347 -0.452501 -0.276061  3.001660  13.750423  0.702761      1

In [662]:
lenA = classA[target].count()
halfA = int(round(lenA*0.5))

classA_1 = classA[:halfA]
classA_2 = classA[halfA:halfA+int(round(halfA/2))]
classA_3 = classA[halfA+int(round(halfA/2)):]

In [663]:
classA_1[target].count()

3798

In [664]:
classA_2[target].count()

1899

In [665]:
classA_3[target].count()

1898

In [666]:
lenB = classB[target].count()
halfB = int(round(lenB*0.5))

classB_1 = classB[:halfB]
classB_2 = classB[halfB:halfB+int(round(halfB/2))]
classB_3 = classB[halfB+int(round(halfB/2)):]

lenA_1 = classA_1[target].count() 
n = int(np.ceil(lenA_1 / float(classB_1[target].count())))
classB_1 = pd.concat([classB_1] * n)[:lenA_1]

lenA_2 = classA_2[target].count()
n = int(np.ceil(lenA_2 / float(classB_2[target].count())))
classB_2 = pd.concat([classB_2] * n)[:lenA_2]

In [667]:
classB_1[target].count()

3798

In [668]:
classB_2[target].count()

1899

In [669]:
classB_3[target].count()

64

In [670]:
train = pd.concat([classA_1, classB_1]).sample(frac=1)
train.head()

            X1        X2        X3        X4        X5        X6  class
4467  0.494935 -0.372876 -0.456387  1.776755  4.206722  1.406643      1
905   0.083334 -0.142849  0.535408  0.667886  1.585866  1.309135      0
1098  3.039066  1.131149 -0.546550  2.242160  9.656587  0.678384      1
4750  0.234593 -0.200356  0.084592  1.490677  0.615327  1.184204      0
2231  0.378060 -0.266710 -0.411305  0.820630  5.125174  1.135450      1

In [671]:
validation = pd.concat([classA_2, classB_2]).sample(frac=1)
validation.head()

            X1        X2        X3        X4        X5        X6  class
8923  0.202918 -0.337487 -0.366224  1.416415  2.661174  1.598610      1
6310  0.876046  5.041613 -0.050653 -0.859553 -0.377866 -0.945723      0
7810  1.324233 -0.231321 -0.456387  1.770426  2.161730  1.047084      1
6703  1.108609 -0.142849 -0.140816  3.797447  0.468941  1.260381      1
5608  0.797791  3.325255  0.941142 -0.859553 -0.377866 -0.945723      0

In [672]:
test = pd.concat([classA_3, classB_3]).sample(frac=1)
test.head()

            X1        X2        X3        X4        X5        X6  class
9358  1.497004 -0.333064 -0.230979  2.745962 -0.377866  0.644866      0
9833  0.368744  2.750187  0.264918 -0.859553 -0.377866 -0.945723      0
8851  0.658389  1.365600  0.400163 -0.859553 -0.377866 -0.945723      0
9347  0.045223 -0.364029  0.219837  1.199958 -0.377866  1.315229      0
9464 -0.225112 -0.364029  0.355081 -0.859553 -0.377866 -0.945723      0