In [133]:
import numpy as np
import pandas as pd

In [134]:
dataset = pd.read_csv('data/mammography.csv.zip')
dataset.drop_duplicates(inplace=True)

In [135]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322     -1
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723     -1
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723     -1
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723     -1
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566     -1

In [136]:
dataset.tail()

             X1        X2        X3        X4        X5        X6  class
11178 -0.250012 -0.377300 -0.321142  1.269157  3.652984  1.092791      1
11179  0.281343 -0.417112 -0.366224  0.851010  2.789649  1.345700      1
11180  1.204988  1.763724 -0.501468  1.562408  6.489072  0.931294      1
11181  0.736644 -0.222474 -0.050653  1.509665  0.539269  1.315229      1
11182  0.177003 -0.191508 -0.501468  1.578864  7.750705  1.555951      1

In [137]:
target = 'class'
# No dataset de mamografia as classes estão definidas como -1 e 1
# É preciso que os valores sejam 0 e 1
if dataset.loc[dataset[target] == -1][target].count() != 0:
    # Todos os valores da coluna 'class' que são -1 são trocados para 0
    dataset[target] = dataset[target].map({-1 : 0, 1 : 1})

In [138]:
dataset.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [139]:
classA = dataset.loc[dataset[target] == 0] # Cria dataset só com os exemplos da classe 0
classB = dataset.loc[dataset[target] == 1] # Cria dataset só com os exemplos da classe 1

In [140]:
classA.head()

         X1        X2        X3        X4        X5        X6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [141]:
classB.head()

            X1        X2        X3        X4         X5        X6  class
1093 -0.335889 -0.452501 -0.591631  0.817254  -0.377866  1.034896      1
1094  4.592985  1.918550 -0.456387  2.264523   1.918840  0.702761      1
1095  0.660252 -0.377300 -0.411305  1.708401   3.520855  1.400548      1
1096 -0.321830 -0.452501 -0.276061  1.325275  13.750423  1.013566      1
1097 -0.520347 -0.452501 -0.276061  3.001660  13.750423  0.702761      1

In [142]:
lenB = classB[target].count()
halfB = int(round(lenB*0.5))

# Divide o dataset da classe B em três datasets com 50%-25%-25%
classB_1 = classB[:halfB]
classB_2 = classB[halfB:halfB+int(round(halfB/2))]
classB_3 = classB[halfB+int(round(halfB/2)):]

In [143]:
classB_1[target].count()

127

In [144]:
classB_2[target].count()

63

In [145]:
classB_3[target].count()

64

In [146]:
# Faz o conjunto de dados da classe A ter o mesmo tamanho
# do conjunto de dados da classe B
classA = classA[:lenB]

In [147]:
# Divide o dataset da classe A em três datasets com 50%-25%-25%
classA_1 = classA[:halfB]
classA_2 = classA[halfB:halfB+int(round(halfB/2))]
classA_3 = classA[halfB+int(round(halfB/2)):]

In [148]:
classA_1[target].count()

127

In [149]:
classA_2[target].count()

63

In [150]:
classA_3[target].count()

64

In [151]:
# Cria os datasets de treino, validação e teste concatenando os conjuntos
# das classes A e B e aleatorizando a ordem dos exemplos
train = pd.concat([classA_1, classB_1]).sample(frac=1)
train.head()

            X1        X2        X3        X4        X5        X6  class
3332  1.607611 -0.275557 -0.501468  2.029500  6.545243  1.373124      1
1107  0.127204 -0.293251 -0.456387  1.548906  4.690099  1.583375      1
163  -0.378404 -0.434807  0.805897 -0.092036  0.255914  1.409690      0
147  -0.382977 -0.408265  1.482120  1.301646  0.121842  0.861211      0
1100  3.747256 -0.443654 -0.546550 -0.859553 -0.377866 -0.945723      1

In [152]:
validation = pd.concat([classA_2, classB_2]).sample(frac=1)
validation.head()

            X1        X2        X3        X4        X5        X6  class
191  -0.321152 -0.425959 -0.005571  1.096159 -0.377866  0.745421      0
225  -0.008641 -0.302098  2.969812  0.689827  0.138897  0.696667      0
7812  1.233444  0.418949 -0.501468  1.456500  3.448584  0.955671      1
207   0.347741  0.242005  0.129673 -0.859553 -0.377866 -0.945723      0
8931 -0.028967 -0.368452 -0.321142  0.856917  1.835605  1.537668      1

In [153]:
test = pd.concat([classA_3, classB_3]).sample(frac=1)
test.head()

             X1        X2        X3        X4        X5        X6  class
10044  0.401266  0.149109 -0.501468  1.462829 -0.377866  1.650411      1
318    0.165993 -0.005717 -0.140816 -0.859553 -0.377866 -0.945723      0
271    0.234762  0.149109  0.084592 -0.859553 -0.377866 -0.945723      0
11178 -0.250012 -0.377300 -0.321142  1.269157  3.652984  1.092791      1
317   -0.358586 -0.142849  0.039510  0.572948 -0.377866  1.034896      0

In [154]:
train.to_csv("data/undersampling/mammography_train.csv", index=False)

In [155]:
validation.to_csv("data/undersampling/mammography_validation.csv", index=False)

In [156]:
test.to_csv("data/undersampling/mammography_test.csv", index=False)